{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>فروشگاه من </title>

    <link rel="stylesheet" href="{% static 'store/style.css' %}">
</head>

<body>

<header class="header">
    <div class="container">

        <div class="logo">
           ✨ Electro Shop
        </div>

        <nav>
            <ul>
                <li><a href="#">خانه</a></li>
                <li><a href="#">محصولات</a></li>
                <li><a href="#">دسته‌بندی‌ها</a></li>
                <li><a href="#">تماس با ما</a></li>
            </ul>
        </nav>

    </div>
</header>


<section class="hero">

    <div class="hero-content">
        <h1>فروشگاه تخصصی موبایل و لپ تاپ</h1>
        <p>
           انواع لوازم الکترونیکی
        </p>

        <a href="#" class="btn">
            مشاهده محصولات
        </a>
    </div>

</section>


<section class="products container">

    <h2>جدیدترین محصولات</h2>

    <div class="product-grid">

        {% for product in products %}

        <div class="card">

            <div class="image">

                {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}"><img src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                {% else %}
                    <img src="/media/products/no-image.png" alt="Banner">
                {% endif %}

            </div>

            <div class="content">

                <span class="category">
                    {{ product.category.name }}
                </span>

                <a href="{% url 'product_detail' product.id %}" class="link" ><h4>{{ product.name }}</h4></a>

                <p class="description">
                    {{ product.description|truncatechars:100 }}
                </p>
<br>
                <div class="bottom">

                    <span class="price">
                        {{ product.price }} تومان
                    </span>

                    <a href="#" class="buy">
                       افزودن
                    </a>

                </div>

            </div>

        </div>

        {% empty %}

        <p>محصولی وجود ندارد.</p>

        {% endfor %}

    </div>

</section>


<footer>

    <p>
        © تمامی حقوق محفوظ است.
    </p>

</footer>

</body>
</html>